*,*::after{
    box-sizing: border-box;
}
.clearflx::after{
    clear: both;
   display:block;
    visibility: hidden;
    content: ".";
}

body{
    width:100%;
    min-height: 100%;
    background:#666;
    .autoForm{      
        min-height:100%;       
        width:100%;
        .header{
            width:1200px;
            margin:0 auto;
            height: 40px;
            background:#0088ff;
            color:#fff;
        }
        .body{
            width:1200px;
            min-height: 400px;
            background:#fff;
            margin:0 auto;
            padding:30px;
            clear: both;
            .left , .right{
                float: left;
                width:50%;
            }
            div.left{
               
                .contentLeft{
                    width:400px;
                    border:1px solid #818181;
                    height: 500px;

                }
                .addListBtn{
                    width:400px;
                }
            }
            .right{
                .tabs{
                    width:400px;
                    height: 36px;
                    li{
                      float: left;
                      height: 36px;
                      line-height: 36px;
                      min-width: 50px;
                      background:#defdef;
                    }
                }
                .contentRight{
                    width:400px;
                    border:1px solid #818181;
                    height: 500px;
                }
            }
        }
        
    }
}
.button {
    width:100%;
    height: 34px;
    line-height: 34px;
    color:#fff;
    background:#0088ff;
    border-radius: 2px;
    text-align: center;
}
.content{
    .listItem{
        width:100%;
        height: auto;
        border-bottom: 1px solid #ccc;
        min-height: 40px;
        line-height: 40px;
        padding:5px 0px 5px 40px;
        p{
            display: inline-block;
            
        }
        input,textarea{
            border:1px solid #888;
        }
        
    }
    .checkbox{
        background:url(./images/checkbox.png)no-repeat 10px center;

    }
    .checkbox.checkboxed{
        background:url(./images/checkboxed.png)no-repeat 10px center;
    }
}
.mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.5);
    display:none;

}
.messageTip{
    width:400px;
    height: auto;
    min-height: 100px;
    position: fixed;
    left:50%;
    margin-left:-200px;
    top:30%;
    background:#fff;
    padding:20px;
    display: none;
    border-radius: 2px;
    .title{
        height: 24px;
        line-height: 24px;
        text-align: left;
    }
    .messageBody{
        width:100%;
       .configtab{
           width:100%;
           height: 30px;
           li{
               float:left;
               height: 30px;
               line-height: 30px;
               padding:0 10px;
               border-bottom: 2px solid transparent;
           }
           li.action{
               border-bottom:2px solid #0088ff;
           }
       }
       .configContent{
           min-height: 100px;
       }
    }
    .tools{
        width: 100%;
        height: 40px;
        .button{
            width:80px;
            float: left;
        }
        .ok{
            margin-left:100px;
            margin-right:20px;
        }
    }
}